:root {
    --green-color: #899F5E;
    --green-color-button: #98a77a;
    --green-color-hover: #899F5E;
    --brown-color: #603912;
    --red-color: #bc5b5b;
    --red-color-hover: #D30605; 
    --white-color: #FFFFFF;
}