.input-add {
    width: 25rem;
    padding: 10px 40px 10px 40px;
    margin: 10px 0 10px 0;
    display: inline-block;
    border: 2px solid #000000;
    font-size: 125%;
    resize: vertical;
}

.product-tag{
    color: var(--grey-color);
    font-size: 110%;
    font-weight: 900;
}

.submit-button {
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid var(--brown-color);
    background-color: var(--green-color-button);
    color: var(--white-color);
    padding: 10px 20px 10px 20px;
    transition-duration: 0.3s;
    border-radius: 20%/50%;
    -webkit-border-radius: 8%/30%;
    -moz-border-radius: 20%/50%;
    -ms-border-radius: 20%/50%;
    -o-border-radius: 20%/50%;
    display: flex;
    align-items: center;
    position: relative;
    transform: translate(0%, 15%);
    -webkit-transform: translate(0%, 15%);
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -o-transform: translate(0%, 15%);
}

.add-button:hover {
    background-color: var(--green-color-hover);
    box-shadow: 0 4px 4px 0 #808080, 0 2px 2px 0 #808080;
}