.table-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.button-add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6%;
}